body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

#search {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
}

.summary {
    margin-top: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.summary p {
    margin: 5px 0;
}

.summary .highlight {
    font-size: 1.2em; /* 字体稍大 */
    font-weight: bold; /* 加粗 */
    color: #d9534f; /* 红色或者你喜欢的颜色 */
}

.result {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f9f9f9;
}

.result-header {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.result-content {
    font-size: 16px;
}


strong {
    background-color: yellow;
}

